/* common utils */
.display-flex {
    display: flex;
}
.align-items-baseline {
    align-items: baseline;
}
.justify-content-space-between {
    justify-content: space-between;
}
.padding-left-sm {
    padding-left: 0.5rem;
}

/* header section */
.header_elements--navbar  {
    list-style-type: none;
    display: flex;
}
.header_elements--navbar > li {
    display: inline-block;
    padding-left: 0.5rem;
}