/* declaring global variables */
:root {
    --blue-color: #007bff;
    --bg-light-blue: rgb(213, 223, 238);
    --color-gray:gray;
    --color-slategray: slategray;
    --font-size-md: 1rem;
    --border-radius-sm: 0.5rem;
    --text-white: white;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --font-family-sans: font-family: ;
    --font-size-larger: larger;
    --font-size-large: large;
    --font-size-medium: medium;
    --font-size-small: small;
    --display-none: none;   
    --align-items-center: center;
    --text-align-center: center;
    --font-size-x-large: x-large;
    --font-size-large: large;
    --font-size-small: small;
    --img-bgpos-center: center;
    --img-bgpos-top: top;
    --img-bgpos-bottom: bottom;
}


/* common utils */
.display-flex { display: flex; }
.display-grid { display: grid; }
.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; } 
.align-items-baseline { align-items: baseline; }
.justify-content-space-between { justify-content: space-between; }
.padding-left-sm { padding-left: 0.5rem; }
.display-hidden { display: hidden; }
.position-fixed { position: fixed; }
.width-50percent { width: 50% ;}
.float-left { float: left; }
.pt-lg { padding-top: 5rem; }
.pt-md { padding-top: 3rem; }
.pt-sm { padding-top: 0.5rem; }
.pad-lr-sm { padding: 0rem 1rem 0rem 1rem; }
.pad-lr-md { padding: 0rem 3rem 0rem 3rem; }
.pad-lr-lg { padding: 0rem 5rem 0rem 5rem; }
.align-self-start   { align-self: start;    }
.align-self-end     { align-self: end;      }
.align-self-center  { align-self: center;   }
.justify-self-start { justify-self: start;  }
.justify-self-end   { justify-self: end;    }
.justify-self-center{ justify-self: center; }
.color-blue { color: var(--blue-color); }
.pos-fixed  { position: fixed; }

/* DOM elements */
strong {
    font-family: cursive;
    color: var(--blue-color);
}


/* body section */
body {
    font-family: sans-serif;
    margin: 0px 0px;
    padding: 0 15rem 0 15rem;
    overflow-y: auto;
}

/* header */
.header {
    font-size: var(--font-size-small);
    background-color: var(--bg-light-blue);
    border-radius: 0.2rem;
}

/* header elements */
.header_elements {
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
    grid-template-rows: 3rem;
    align-items: var(--align-items-center);
}

/* logo */
.header_element--logo {
    color: var(--blue-color);
    font-size: var(--font-size-md);
    margin-left: 0.2rem;
}

/* navbar >> hover elements */
.hover_element {
    text-align: center;
} 

.hover_element:hover {
    color: var(--blue-color);
} 

.hovercontent > div > span {
    margin-top: -0.8rem;
}


/* hidden hover content :: navbar elements */
.hovercontent_landing,
.hovercontent_pages,
.hovercontent_account,
.hovercontent_documentation
{
    display: none;
    position: fixed;
    z-index: 10rem;
    background-color: var(--bg-light-blue);
    border-radius: var(--border-radius-sm);
    padding: 0.5rem 4rem 0.5rem 4rem;
    vertical-align: baseline;
    width: 16rem;
    height: 7rem;
    border: 2px solid lightblue;
    margin-left: -8rem;
    opacity: 0.8;
}


/* buynow button */
/* .header_element--btn { text-align: center; }
.header_element--btn > div { display: inline-block; } */
.header_element--btn > div > button {
    border-radius: var(--border-radius-sm);
    background-color: var(--blue-color);
    color: var(--text-white);
    padding: 0.6rem 1rem 0.6rem 1rem;
    float: right;
    margin-right: 0.2rem;
}


/* =====================welcome section start===================== */
.welcome_gridcontainer {
    display: grid;
    font-size: var(--font-size-x-large);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.welcome_gridcontainer > div {
    min-width: 20rem;
}

.welcome_gridcontainer--element-2 > img{
    background: url(./assets/whitebg.jpeg) no-repeat;
    background-position: bottom;
    padding: 8rem 12rem 8rem 12rem;
    border-radius: 0.3rem;
}

/* =====================welcome section end===================== */




/* ====================features section start======================= */
.features_gridcontainer {
    grid-template-rows: 50% 50%;
    grid-template-columns: 33.33% 33.33% 33.33%; 
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    justify-items: start;
    align-items: center;
    align-content: space-between;
}

.feature-ele > span {
     font-size: 4rem;
     opacity: 0.8;
}
/* =====================features section end===================== */



/* =======================brands========================= */
.brands {
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(178, 192, 209);
    border-top: 1px solid rgb(178, 192, 209);
    border-bottom: 1px solid rgb(178, 192, 209);
    flex-wrap: wrap;
}

.brands > .brand_element {
    padding: 1rem 0 1rem 0;
    margin: 0 1rem 0 1rem;
}


/* ====================footer=================== */
footer {
    margin-top: 20rem;
}




/* =========scrollbar styling=============== */

/* scrollbar section */
::-webkit-scrollbar {
    width: 15px;
  }

  /* scrollbar Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0.5rem;
  }
   
  /* scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }












/* ================Media queries===================  */

/* large */
@media all and (min-width: 1200px){

    .welcome_gridcontainer {
        grid-template-columns: repeat(2, minmax(5rem, 30rem));
    }

}


/* medium */
@media all and (min-width: 900px) and (max-width: 1200px){

    body {
        padding: 0 10rem 0 10rem;
    }

    .welcome_gridcontainer {
        grid-template-columns: 25rem;
        text-align: center;
        justify-content: center;
    }

 
}

/* small */
@media all and (min-width: 768px) and (max-width: 900px) {
    body {
        padding: 0 5rem 0 5rem;
    }
    .welcome_gridcontainer {
        justify-content: center;
    }
}