/* declaring global variables */
:root {
    --blue-color: blue;
    --font-size-md: 1rem;
    --border-radius-sm: 0.5rem;
    --text-white: white;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --font-family-sans: font-family: ;
    --font-size-larger: larger;
    --font-size-large: large;
    --font-size-medium: medium;
    --font-size-small: small;
    --display-none: none;   
    --align-items-center: center;
    --text-align-center: center;
}


/* common utils */
.display-flex { display: flex; }
.display-grid { display: grid; }
.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; } 
.align-items-baseline { align-items: baseline; }
.justify-content-space-between { justify-content: space-between; }
.padding-left-sm { padding-left: 0.5rem; }
.display-hidden { display: hidden; }
.position-fixed { position: fixed; }
.width-50percent { width: 50% ;}
.float-left { float: left; }


/* body section */
body {
    font-family: sans-serif;
    background-color: rgb(218, 223, 226);
}

/* header */
.header {
    font-size: var(--font-size-small);
}

/* header elements */
.header_elements {
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
    grid-template-rows: 3rem;
    align-items: var(--align-items-center);
}

/* logo */
.header_element--logo {
    color: var(--blue-color);
}

/* navbar >> hover elements */
.hover_element {
    text-align: center;
} 
/* hidden hover content :: navbar elements */
.hovercontent_landing,
.hovercontent_pages,
.hovercontent_account,
.hovercontent_documentation
{
    display: none;
    position: fixed;
    z-index: 10rem;
    background-color: rgb(142, 173, 185);
    border-radius: var(--border-radius-sm);
    padding: 0.5rem 4rem 0.5rem 4rem;
    vertical-align: baseline;
    width: 16rem;
    height: 7rem;
}


/* buynow button */
.header_element--btn > button {
    border-radius: var(--border-radius-sm);
    background-color: var(--blue-color);
    color: var(--text-white);
    padding: 0.6rem 1rem 0.6rem 1rem;
    float: right;
}
