* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* wrapper */
.exp-wrap {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(236, 213, 223), transparent);
    font-family: sans-serif;
}
.exp-wrap > div {
    padding: 1rem;
    margin: 1rem 0rem;
    border: 1px solid lightblue;
}

/* balance */
.exp-balance h4 {
    color: rgb(133, 105, 57);
    font-size: 1.2rem;
}


/* income expense section */
.exp-incomeExpemse {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.exp-incomeExpemse > div {
    border: 0.2px solid lightgray;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.income h4 { color: green; }
.expense h4 { color: red; }


/* transactions history */
.exp-transactions h2{
    text-decoration: underline;
    margin: 0.8rem 0;
}
.exp-transactions ul {
    list-style-type: none;
}
.exp-transactions ul li {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    border-radius: 0.4rem;
    padding: 0.2rem 0.1rem;
    margin: 0.3rem 0;
}
.exp-transactions button {
    border: none;
    background: transparent;
}
.exp-transactions button svg:hover {
    color: red;
    transition: 0.3s all ease;
}


/* add new transaction */
.exp-addNewTransaction h2 {
    text-decoration: underline;
    margin: 0.8rem 0;
}
.exp-addNewTransaction .form-control {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0.8rem 0;
}
.exp-addNewTransaction input,
.exp-addNewTransaction button {
    padding: 0.3rem 0.2rem;
    border-radius: 0.2rem;
    border: none;
}
.exp-addNewTransaction label {
    margin: 0.2rem 0;
    
}
.exp-addNewTransaction button {
    border: 1px solid lightblue;
}
.exp-addNewTransaction button:hover {
    background-color: lightblue;
    transition: 0.3s all ease-in;
}

/* transaction border styling based on positive and negative values */
.plus {
    border: 1px solid green;
}
.minus {
    border: 1px solid red;
}