* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( rgb(236, 213, 223), transparent);
}

/* wrapper */
.exp-wrap {
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, transparent, rgb(158, 143, 148));
    font-family: sans-serif;
    border-radius: 0.5rem;
}
.exp-header {
    background-color: rgb(189, 166, 126);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.exp-wrap > div {
    padding: 1rem;
    margin: 1rem 0rem;
}
.exp-wrap > div:nth-child(1),
.exp-wrap > div:nth-child(2),
.exp-wrap > div:nth-child(3),
.exp-wrap > div:nth-child(4),
.exp-wrap > div:nth-child(5) {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.exp-wrap > div:nth-child(5) { text-align: start; }

/* balance */
.exp-balance h2 {
    opacity: 0.7;
}
.exp-balance h4 {
    color: rgb(42, 56, 21);
    font-size: 1.2rem;
    background-color: rgb(158, 143, 148);
    border-radius: 0.5rem;
}


/* income expense section */
.exp-incomeExpemse {
    display: flex;
    justify-content: space-between;
}
.exp-incomeExpemse > div {
    background-color: rgb(194, 174, 174);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.2rem;
}
.income h4 { color: green; }
.expense h4 { color: red; }


/* transactions history */
.exp-transactions { width: 100%; }
.exp-transactions h2{
    text-decoration: underline;
    margin: 0.8rem 0;
}
.exp-transactions ul {
    list-style-type: none;
}
.exp-transactions ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.4rem;
    padding: 0.2rem 0.1rem;
    margin: 0.3rem 0;
}
.exp-transactions button {
    border: none;
    background: transparent;
}
.exp-transactions button svg:hover {
    color: red;
    transition: 0.3s all ease;
}


/* add new transaction */
.exp-addNewTransaction h2 {
    text-decoration: underline;
    margin: 0.8rem 0;
}
.exp-addNewTransaction .form-control {
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;
}
.exp-addNewTransaction input,
.exp-addNewTransaction button {
    padding: 0.3rem 0.2rem;
    border-radius: 0.2rem;
    border: none;
}
.exp-addNewTransaction label {
    margin: 0.2rem 0;
    
}
.exp-addNewTransaction button {
    border: 1px solid lightblue;
    background-color: rgb(149, 166, 177);
}
.exp-addNewTransaction button:hover {
    background-color: lightblue;
    transition: 0.3s all ease-in;
}

/* transaction border styling based on positive and negative values */
.plus {
    border: 1px solid green;
}
.minus {
    border: 1px solid red;
}