/* declaring global variables */
:root {
    --blue-color: #3e70a5;
    --bg-light-blue: rgb(161, 210, 226);
    --color-gray-lite: rgb(201, 212, 219);
    --color-gray:gray;
    --color-black-lt : rgb(78, 79, 80);
    --color-slategray: rgb(164, 171, 179);
    --color-vltgray: rgb(252, 252, 253);
    --font-size-md: 1rem;
    --border-radius-sm: 0.5rem;
    --text-white: white;
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --font-size-larger: larger;
    --font-size-large: large;
    --font-size-medium: medium;
    --font-size-small: small;
    --display-none: none;   
    --align-items-center: center;
    --text-align-center: center;
    --font-size-x-large: x-large;
    --font-size-large: large;
    --font-size-small: small;
    --img-bgpos-center: center;
    --img-bgpos-top: top;
    --img-bgpos-bottom: bottom;
}


/* common utils */
.text-primary { color: var(--blue-color); }
.display-flex { display: flex; }
.display-grid { display: grid; }
.flex-direction-row { flex-direction: row; }
.flex-direction-row-r { flex-direction: row-reverse; }
.flex-direction-column { flex-direction: column; } 
.align-items-baseline { align-items: baseline; }
.align-items-center { align-items: center; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.padding-left-sm { padding-left: 0.5rem; }
.display-hidden { display: none; }
.position-fixed { position: fixed; }
.width-50percent { width: 50% ;}
.float-left { float: left; }
.mt-sm { margin-top: 0.5rem; }
.mt-md { margin-top: 1rem; }
.mt-lg { margin-top: 3rem; }
.mt-xl { margin-top: 5rem; }
.pt-lg { padding-top: 5rem; }
.pt-md { padding-top: 3rem; }
.pt-sm { padding-top: 0.5rem; }
.pb-lg { padding-bottom: 5rem; }
.pb-md { padding-bottom: 3rem; }
.pb-sm { padding-bottom: 0.5rem; }
.pr-sm { padding-right: 0.5rem; }
.pr-md { padding-right: 3rem; }
.pr-lg { padding-right: 5rem; }
.pad-lr-sm { padding: 0rem 1rem 0rem 1rem; }
.pad-lr-md { padding: 0rem 3rem 0rem 3rem; }
.pad-lr-lg { padding: 0rem 5rem 0rem 5rem; }
.align-self-start   { align-self: start;    }
.align-self-end     { align-self: end;      }
.align-self-center  { align-self: center;   }
.justify-self-start { justify-self: start;  }
.justify-self-end   { justify-self: end;    }
.justify-self-center{ justify-self: center; }
.color-blue { color: var(--blue-color); }
.color-gray { color: var(--color-gray); }
.pos-fixed  { position: fixed; }
.visibility-hidden { visibility: hidden; }
.visibility-visible { visibility: visible;}
.text-align-center { text-align: var(--text-align-center);}
.br-1 { border-right: 1px solid gray; }

/* DOM elements */
strong {
    font-family: cursive;
    color: var(--blue-color);
    z-index: 5;
}


/* body section */
body {
    margin: 0px 0px;
    padding: 0 12rem 0 12rem;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Nanum Gothic';
    z-index: 0;
}

/* header */
.header {
    font-size: var(--font-size-small);
    background-image: linear-gradient(45deg, lightblue, rgb(126, 137, 143));
    font-family: Nanum Gothic;
    height: auto;
    width: 100%;
    position: fixed;
    left: 0;
    box-sizing: border-box;
    opacity: 0.95;
    z-index: 55;
    padding: 0 1rem 0 1rem;
}

.hover_element {
    width: 100%;
    z-index: 10;
}

/* handles hamburger */
#navhandle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header elements */
.header_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* grid-template-columns: 30% 10% 10% 10% 10% 30%;
    grid-template-rows: 3rem;
    align-items: var(--align-items-center); */
}

.header_elements > div:nth-child(2) { border-top: 1px solid white; }
.header_elements > div:nth-child(6) { padding-right: 0; margin-bottom: 1rem; }

/* logo */
.header_element--logo {
    color: var(--blue-color);
    font-size: var(--font-size-md);
    margin-left: 0.2rem;
    font-weight: bolder;
}


/* navbar >> hover elements */
.hover_element {
    text-align: center;
} 

.hover_element:hover {
    color: var(--blue-color);
} 

.hovercontent > div > span {
    margin-top: -0.8rem;
}

.header_elements > div:nth-child(1) { padding-left: 1rem; }
.header_elements > div:nth-child(6) { padding-right: 1rem; }

/* hidden hover content :: navbar elements */
.hovercontent_landing,
.hovercontent_pages,
.hovercontent_account,
.hovercontent_documentation
{
    display: none;
    position: fixed;
    z-index: 10rem;
    background-color: rgb(126, 165, 173);
    border-radius: var(--border-radius-sm);
    padding: 0.5rem 4rem 0.5rem 4rem;
    vertical-align: baseline;
    width: 16rem;
    height: 7rem;
    border: 2px solid lightblue;
    margin-left: -10rem;
    opacity: 0.9;
    color: white;
    font-weight: bolder;
}


/* buynow button */
/* .header_element--btn { text-align: center; }
.header_element--btn > div { display: inline-block; } */
.header_element--btn > div > button {
    border-radius: var(--border-radius-sm);
    background-color: var(--blue-color);
    color: var(--text-white);
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border: 1px solid var(--blue-color);
}

.header_element--btn > div > button:hover {
    opacity: 0.8;
    border: 1px solid white;
    transition: border 500ms linear;
}

/* hamburger */
#hamburger { 
    float: right;
    padding: 1rem;
 }

.line {
    width: 1rem;
    border-bottom: 2px solid lightgray;
    padding-bottom: 0.3rem;
}
#hamburger:hover { 
    color: red!important;
    transform: rotateY(360deg);
    transition: 1s ease;
 }


/* =====================welcome section start===================== */
.welcome_gridcontainer {
    margin-top: 5rem;
    display: grid;
    font-size: var(--font-size-x-large);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.welcome_gridcontainer > div {
    min-width: 20rem;
}

.welcome_gridcontainer--element-2 > img{
    background: url(./imgs/whitebg.jpeg) no-repeat;
    background-position: bottom;
    padding: 8rem 12rem 8rem 12rem;
    border-radius: 0.3rem;
}

/* =====================welcome section end===================== */




/* ====================features section start======================= */
.features_gridcontainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.features_gridcontainer > div:nth-child(1),
.features_gridcontainer > div:nth-child(2),
.features_gridcontainer > div:nth-child(3)
{
    align-self: end;
    justify-self: center;
}

.features_gridcontainer > div {
    box-sizing: border-box;
    padding: 0.5rem;
}

.feature-ele > span {
     font-size: 3.5rem;
     opacity: 0.8;
     font-weight: bolder;
}
.feature-ele > h3, .feature-ele > p { font-size: 0.9rem; }

.feature-ele > h3, .feature-ele > p { color: gray; font-weight: bold;}
/* =====================features section end===================== */



/* =======================brands========================= */
.brands {
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(178, 192, 209);
    border-top: 1px solid rgb(178, 192, 209);
    border-bottom: 1px solid rgb(178, 192, 209);
    flex-wrap: wrap;
}

.brands > .brand_element {
    padding: 1rem 0 1rem 0;
    margin: 0 1rem 0 1rem;
}


/* ===========About section start============== */
.about-grid-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 34% 64%;
    grid-gap: 1rem 1rem;
    font-family: cursive;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.about-grid-container > div {
    padding: 0.8rem
}

.about-grid-container .card { width: 100%; };

.card {
    background-color: var(--color-vltgray);
    box-sizing: border-box;
}

.card > .card_info > h3 {
    padding-bottom: 0.7rem;
    border-bottom: 1px solid rgb(172, 176, 185);
    color: rgb(114, 119, 126);
}

.card_img > img {
    background: url(./imgs/cardimg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    min-height: 20rem;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

#dwld-smpl-btn {
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(145, 167, 151);
    font-family: sans-serif;
    font-weight: 700;
}
#dwld-smpl-btn:hover {
    background-color: rgb(115, 143, 123);
}

.dashboard-img > img {
    width: 100%;
    height: auto;
    border: 0.5px solid lightgray;
    border-radius: 0.5rem;
}

.text-info {
    text-align: center;
    background-image: linear-gradient(45deg, var(--color-gray-lite), var(--bg-light-blue));
    border-radius: 1rem;
    opacity: 0.7;
}
.text-info > p {
    font-family: cursive;
}
#text-info_3 > ul {
    list-style-type: none;
    align-items: center;
    justify-items: center;
    padding: 0;
}
#text-info_3 > ul >li {
    display: inline-block;
    min-width: 15rem;
    text-align: start;
}
.exp-container { font-size: 0.8rem; text-align: start; }
.exp-container p {
    color: grey;
}
.exp-icon {
    color: var(--blue-color);
}
/* ===========About section end============== */





/* =========Testimonial section start======== */

.testimonial_block > .testimonial_element {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-row-gap: 1rem;
    text-align: center;
    margin-top: 5rem;
}
.testimonial_element--1 > h2 { 
    color: var(--blue-color);
    font-size: 2rem;
    font-family: monospace;
 }
.testimonial_element--1 > p { color: gray; }

.testimonial_element--2 { 
    background-color: var(--color-gray-lite);
    justify-content: space-between;
    border-radius: 1rem;
 }

.slides {
    background-color: var(--color-gray-lite);
    border-radius: 1rem;
    box-sizing: border-box;
}

.testimonial_element--2 button {
    background-color: var(--blue-color);
    font-weight: bolder;
    border: 1px solid lightblue;
}
.testimonial_element--2 button:hover {
    color: white;
}

.slide_1, .slide_2 {
    width: 100%;
    box-sizing: border-box;
}

.slide_1 > div, .slide_2 > div {
    width: 50%;
    float: left;
}

.slide_1 img {
    background-image: url("./imgs/peoplesmiles.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8rem 10rem 8rem 10rem;
}

.slide_2 img {
    background-image: url("./imgs/personlaptop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 8rem 10rem 8rem 10rem;
}

.slides_info {
    display: none;
};


/* =========Testimonial section end======== */


/* stats section start */
.statsblock_ele1, .statsblock_ele2 {
    width: 50%;
    float: right;
}
.statsblock_ele1 > img {
    width: 100%;
    height: auto;
    float: right;
}
/* stats section end */



/* pricing feature start */
#pricing {
    font-family: Nanum Gothic;
    text-align: -webkit-center;
    color: var(--color-black-lt);
}
#pricing h2 { color: var(--color-black-lt); }
.pricing_fee {
    display: flex;
    max-width: 60rem;
    padding: 2rem 0 2rem 0;
}
.pricing_fee--ele1, .pricing_fee--ele2 {
    width: 50%;
    padding: 1rem;
    float: left;
    border: 0.5px solid lightgray;
    background-color:  #fff;
    border-radius: 1rem;
    align-self: center;
    text-align: center;
}
.pricing_fee--ele1 {
    z-index: 45;
    box-shadow:  1rem 2rem 2rem rgba(4, 5, 5, 0.1)!important;;
}
.pricing_fee--ele2 {
    height: 22rem;
    padding-left: 2rem;
    margin-left: -1rem!important;
    z-index: 44;
    font-size: var(--font-size-md);
    text-align: left;
}
.fa-check {
    background-color: var(--bg-light-blue);
    font-size: 0.7rem;
    border-radius: 0.8rem;
    padding: 0.1rem;
}
.pr-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 80%;
    align-items: baseline;
    justify-items: start;
    align-self: center;
    padding: 0 2rem 0 2rem;
}
.pr-grid-container p {
    font-family: sans-serif;
    font-weight: 600;
}
.pr-grid-container span {
    padding: 0;
    margin: 0;
}
/* pricing feature end */


/* FAQ section start */
.faq {
    background-color: #1b2a4e!important;
    width: 100%;
    color: white;
    font-family: monospace;
    padding: 3rem 0 3rem 0;
    position: relative;
    box-shadow: 0.6rem 0.6rem 0.6rem black;
}
.faq_block {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}
.faq_block--ele > .d-flex {
    display: flex;
    align-items: start;
    padding: 1rem;
    text-align: start;
}

.faq_block--ele > .d-flex > div {
    padding: 0.5rem;
}
.fa-question-circle {
    color: lightseagreen;
}
/* FAQ section end */


/* CAT start */
#cat {
    padding: 5rem 0rem;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
    background-color: #364770!important;
    box-shadow: 0.6rem 0.6rem 0.6rem black;
    font-size: 1.3rem;
    color: var(--color-gray-lite);
}
#cat  button {
    padding: 0.3rem;
    border: 1px solid var(--blue-color);
    border-radius: 1rem;
    background-color: var(--bg-light-blue);
}
.cat_btn > button {
    color: black;
    opacity: 0.5;
    background-color: var(--color-gray-lite);
}
.cat_buybtn > button { 
    font-size: 0.8rem;
    font-weight: bold!important;
    background-color: #42ba96!important;
    padding: 0.8rem 0.5rem!important;
 }
 .cat_buybtn > button:hover {
    background-color: var(--blue-color)!important;
    transition: 0.5s ease;
    color: white;
}
/* CAT end */

/* footer start */
#footer { margin: 10rem 0rem 6rem 0rem;}
.footblock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: start;
}
.footblock > div:first-child > h2:first-child {
    color: var(--blue-color);
    font-weight: bolder!important;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--blue-color);
}
.footblock svg {
    color: var(--blue-color);
    opacity: 0.7;
    padding: 0 0.4rem;
}
.footblock svg:hover { color: rgb(22, 57, 90); }
.footblock ul {
    list-style-type: none;
}
.footblock > div:nth-child(2),
.footblock > div:nth-child(3),
.footblock > div:nth-child(4)
{ color: var(--color-gray); }
/* footer end */



/* ====================footer start=================== */
footer {
    margin-top: 20rem;
}
/* ====================footer end=================== */



/* =========scrollbar styling start=============== */

/* scrollbar section */
::-webkit-scrollbar {
    width: 15px;
  }

  /* scrollbar Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0.5rem;
  }
   
  /* scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

/* =========scrollbar styling end=============== */









/* ================Media queries start===================  */

/* large */
@media all and (min-width: 1200px){

    .welcome_gridcontainer {
        grid-template-columns: repeat(2, minmax(5rem, 30rem));
    }

}


/* medium */
@media all and (min-width: 900px) and (max-width: 1200px){

    body {
        padding: 0 5rem 0 5rem;
        text-align: center;
    }

    .hover_element > h3 { font-size: 0.8rem; }

    .welcome_gridcontainer {
        margin-top: 5rem;
        grid-template-columns: 25rem;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
    }

    .features { padding-top: 0; }
    .feature-ele > span { font-size: 2.5rem; }
    .feature_gridcontainer--element-1, .feature_gridcontainer--element-2,
    .feature_gridcontainer--element-3 { font-size: 1rem; }
    .feature-ele { font-size: 0.5rem; }

    .brands > .brand_element > h2 { font-size: 1.2rem; }

    .about-grid-container {
        grid-template-rows: repeat(4,minmax(20rem,30rem));
        grid-template-columns: 1fr;
        grid-row-gap: 0.5rem;
        justify-content: center;
    }

    
    .slide_1 > div, .slide_2 > div {
        width: 100%;
    }
 

    #footer { margin: 5rem 0rem 6rem 0rem;}
}

/* small */
@media all and (max-width: 900px) {
    
    body {
        padding: 0 2rem 0 2rem;
        text-align: center;
    }

    .header_elements { flex-direction: column; }
    .hover_element:hover { border-bottom: none; }
    .header_elements > div:nth-child(6) { padding-right: 0; margin-bottom: 1rem; }
    #hamburger { display: block; }

    .welcome_gridcontainer {
        margin-top: 5rem;
        grid-template-columns: 25rem;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
    }

    .features { padding-top: 0; }
    .feature-ele > span { font-size: 2.5rem; }
    .feature_gridcontainer--element-1, .feature_gridcontainer--element-2,
    .feature_gridcontainer--element-3 { font-size: 1rem; }
    .feature-ele { font-size: 0.5rem; }

    .brands > .brand_element > h2 { font-size: 1rem; }

    .about-grid-container {
        grid-template-rows: repeat(4,minmax(20rem,30rem));
        grid-template-columns: 1fr;
        grid-row-gap: 0.5rem;
        justify-content: center;
        font-size: 0.8rem;
        background-color: rgb(232, 235, 238);
        border-radius: 0.8rem;
    }
    .slide_1 > div, .slide_2 > div {
        width: 100%;
    }

    .statsblock { flex-direction: column;}
    .statsblock_ele1, .statsblock_ele2 {
        width: 100%;
        float: left;
        text-align: center;
    }
    .statsblock_ele1 > img {
        width: 14rem;
        height: 12rem;
        float: none;
    }

    .pricing_fee div{ font-size: 0.8rem; overflow: hidden}

    .faq {padding: 1rem 0 1rem 0}
    .faq_block {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
    }
    .faq_block--ele > .d-flex {padding: 0.5rem;}
    .faq_block--ele > .d-flex > div {padding: 0.2rem}

    
    #footer { margin: 5rem 0rem 6rem 0rem;}
}

/* ================Media queries end===================  */