
body{
    padding: 4rem;
    margin: 0;
    background-image: linear-gradient( rgb(37, 31, 31), rgb(17, 29, 21)); 
    background-repeat: no-repeat;
    background-color: rgb(17, 29, 21);
}

header > h2 {
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(155, 197, 155);
    font-family: monospace;
    font-size: 4rem;
}

ul {
    list-style-type: none;
}

ul > li {
    padding: 1rem 0 1rem 1rem;
    color: indianred;
}


li > a {
    margin-left: 1rem;
    font-size: 3rem;
    font-family: cursive;
    color: rgb(153, 156, 161);
    text-decoration: underline;
    font-weight: bolder;
    padding-left: 1rem;
}

li:hover {
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(40, 44, 40);
    font-size: 3.5rem;
}

#zserver-themes {
    padding: 5rem 0 10rem 0;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(42, 50, 56);
  }