
/* indecision app styling */

.indecision-header {
    padding: 0.3rem;
    background-color: rgb(163, 140, 140);
    text-align: center;
}
.indecision-main-div {
    padding-top: 0 0.5rem 0 0.5rem;
    border: 2px solid rgb(163, 140, 140);
    min-height: 30rem;
    border-radius: 0.5rem;
}
.getdecisionbtn {
    padding: 0 0.2rem 0 0.2rem;
    background-color: lightyellow;
    border-radius: 0.5rem;
    width: 20rem;
}

.indecision-options {
    margin: 0 2rem 0 2rem;
    min-height: 15rem;
    border: 2px solid green;
}

.indecision-options-header {
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.1rem;
}