body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-orange: rgb(240, 160, 56);
}

/* nav start*/

nav div {
    margin: 0;
}
nav ul {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: 0.8rem;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: bolder;
}
nav ul > li:nth-child(4) {
    font-size: 1.2rem;
    font-family: sans-serif;
}
nav ul>li:hover { color: var(--color-orange); }
nav ul>li:nth-child(4):hover { color: black; }

/* nav end */