body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
#flextheme-main {
    height: 40rem;
}

#flextheme-main-img {
    background-image: url("./img//game.jpg");
    width: 100%;
    height: 35rem;
    opacity: 0.5;
    background-size: cover;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
}

#flextheme-header{
    border-bottom: 0.5px solid orange;
}

#flextheme-header > a {
    text-decoration: none;
}

#flextheme-main-overlay {
    margin-top: -13rem;
    background-position-y: top;
    z-index: 20;
}

#flextheme-movscreens-img {
    background-image: url("./img/movscreens.png");
    background-position: center;
    z-index: 15;
    height: 25rem;
    background-repeat: no-repeat;
    opacity: 0.9;
}
#flextheme-gamer-signup {
    width: 30rem;
    float: left;
}
#flextheme-gamer-signup {
    border: 0.5px solid  rgb(101, 113, 121);
    border-radius: 0.5rem;
    padding: 2rem;
}
a {
    text-decoration: none;
    color: white;
}

a.nav-btn:hover, a.nav-btn:Active {
    color: darkred;
    font-weight: bold;
}

input {
    border-radius: 0.5rem;
    height: 1.4rem;
    width: 16rem;
    padding: 0.3rem;
    margin-bottom: 0.8rem;
}

input:focus {
    outline: none; 
}




.flex-theme-label {
    width: 7rem;
    font-family: sans-serif;
    font-weight: 400;
    color: darkgreen;
}
.align-items-baseline {
    align-items: baseline;
}
.color-white {
    color: white;
}
.margin-zero {
    margin: 0rem;
}
.font-family-ss {
    font-family: sans-serif;
}
.background-color-ltgray {
    background-color: transparent;
}
.opacity-low {
    opacity: 0.4;
}
.opacity-med {
    opacity: 0.6;
}
.opacity-high {
    opacity: 0.8;
}
.z-index-0 {
    z-index: 0;
}
.z-index-10 {
    z-index: 10;
}
.width-100per {
    width: 100%;
}
.height-35rem {
    height: 35rem;
}
.margin-right-20 {
    margin-right: 20px;
}
#flextheme-main-box {
    box-sizing: border-box;
}
.pad-right-left-10 {
  padding-right: 10px;
  padding-left: 10px;  
}
.align-items-center {
    align-items: center;
}
.flexbox-display {
    display: flex;
}
.flexbox-direction-row {
    flex-direction: row;
}
.flexbox-direction-column {
    flex-direction: column;
}
.flexbox-justify-content-sb {
    justify-content: space-between;
}
.flexbox-justify-content-se {
    justify-content: space-evenly;
}

.primary-button {
    background-color: rgb(59, 101, 128);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 8rem;
    height: 2rem;
    color: white;
}

.primary-button:hover{
    background-color: rgb(160, 191, 204);
}