#container1 {
    border: 5px solid #eed77a;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container2 {
    border: 5ps solid #808080;
    display: flex;
    flex-direction: column;
    border: 5px solid lightseagreen;
}
#container2 > div {
    margin-right: 0rem;
}

/* flex:1 for keeping the items with same width */
#container3 {
    display: flex;
    border: 5px solid lightblue;
}
#container3 > div {
    flex: 1;
}
.home {
    margin-right: auto;
}
/* align items */
#container4 {
    border: 5px solid grey;
    background-color: lightgoldenrodyellow;
    display: flex;
    height: 10rem;
    /* align-items: flex-end; */
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
#container4 > div:nth-child(2) {
    flex: 2;
}

/* Flex-wrap */
#container5 {
    border: 5px solid lightpink;
    background-color: lightsalmon;
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* justify-content: center; */
}
#container5 > div {
    width: 300px;
}

/* flex-grow / flex-shrink / flex-basis(width) */
#container6 {
    display: flex;
    border: 5px solid lightsteelblue;
}
#container6 > div:nth-child(1) {
    /* 
    >> flex: grow shrink basis;
    
    Example1:
    >> (divOne)flex: 1 1 200px;
    >> (divTwo)flex:10 1 200px;
    >> divTwo will grow 10 times faster than than divOne in Example1.
    >> Shrinking will be same for both the div's

    */
    /* flex-grow: 0; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}
#container6 > div {
    flex-grow: 0;
    /* flex-grow: 1; */
    flex-shrink: 1;
    flex-basis: 200px;
}

/* flex container items order */
#container7 { 
    display: flex;
    border: 5px solid rgb(202, 117, 117); 
}
#container7 > div {
    flex: 1;
}
#container7 > div:nth-child(1){
    order: 1;
}
#container7 > div:nth-child(3){
    order: -1;
}

.container8 {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(78, 99, 98);
    border: 5px solid rgb(142, 182, 235);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.container8 > div {
    flex: 1 1 25%;
    background: lightcoral;
}

/* media queries */
@media all and (max-width: 600px) {
    .container8 {
        flex-wrap: wrap;
        display: flex;
        background-color: rgb(78, 99, 98);
        border: 5px solid rgb(142, 182, 235);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
    .container8 > div {
        flex: 1 1 50%;
        background-color: rgb(141, 125, 127);
    }
}

@media(max-width: 400px) {
    .container8 > div {
        flex: 1 1 100%;
        background-color: rgb(121, 141, 121);
    }
}



#flextheme-main-img {
    background-image: url("./img//game.jpg");
    width: 100%;
    height: 35rem;
    opacity: 0.7;
    background-size: cover;
    z-index: 0;
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
}


.margin-zero {
    margin: 0rem;
}
.font-family-ss {
    font-family: sans-serif;
}
.background-color-ltgray {
    background-color: lightgray;
}
.opacity-low {
    opacity: 0.4;
}
.opacity-med {
    opacity: 0.6;
}
.opacity-high {
    opacity: 0.8;
}
.z-index-0 {
    z-index: 0;
}
.z-index-10 {
    z-index: 10;
}
.width-100per {
    width: 100%;
}
.height-35rem {
    height: 35rem;
}
.margin-right-20 {
    margin-right: 20px;
}
#flextheme-main-box {
    box-sizing: border-box;
}
.pad-right-left-10 {
  padding-right: 10px;
  padding-left: 10px;  
}
.align-items-center {
    align-items: center;
}
.flexbox-display {
    display: flex;
}
.flexbox-direction-row {
    flex-direction: row;
}
.flexbox-direction-column {
    flex-direction: column;
}
.flexbox-justify-content-sb {
    justify-content: space-between;
}
.flexbox-justify-content-se {
    justify-content: space-evenly;
}